typeattribute thermal-engine data_between_core_and_vendor_violators;

type_transition thermal-engine system_data_file:file thermal_data_file;
type_transition thermal-engine socket_device:sock_file thermal_socket;
