service gx_fpd /system/bin/gx_fpd
     class core
     user root
     group system system
     writepid /dev/cpuset/system-background/tasks

on property:sys.fp.vendor=switchf
    stop gx_fpd
    setprop sys.fp.vendor searchf
    start fingerprintd
    setprop fpc.fp.miui.token 0
    setprop ro.boot.fpsensor fpc
    setprop ro.hardware.fingerprint searchf

on property:sys.fp.onstart=1
   start fingerprintd
   setprop goodix.fp.miui.analyse 1
   setprop goodix.fp.miui.token 0
   setprop ro.boot.fpsensor gdx
   setprop ro.hardware.fingerprint goodix
